@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

h1,
h2,
h3,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

input,
button,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

:root {
  /* --- PALETA PRINCIPAL DEL NUEVO DISEÑO --- */
  --color-azul: #1b326b;
  --color-blanco: #ffffff;
  --color-gris-oscuro: #4d4d4d;
  --color-gris: #464a5e;
}
